{{define "title"}}Request{{end}}

{{define "body"}}
<h1>Request</h1>

{{ if .Response }}
{{ if .Success }}
<div class="alert alert-success" role="alert">
    Successful request, transaction ID: {{ .TransactionId }}
</div>
{{ else }}
<div class="alert alert-danger" role="alert">
    Unable to submit the request, retry later.
</div>
{{ end }}
{{ end }}

<form class="form-inline" action="request.html" method="post">
    <div class="form-group">
        <label for="helloValue">Hello value</label>
        <input type="text" class="form-control" id="helloValue" placeholder="world" name="hello">
    </div>
    <input type="hidden" name="submitted" value="true">
    <button type="submit" class="btn btn-default">Send the request</button>
</form>

<a href="home.html">Back to Home</a>
{{end}}